{% extends 'base.html.twig' %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ path('user_index') }}">
            <i class="fas fa-home"></i> Inicio
        </a>
        <a href="{{ path('fos_user_security_logout') }}" class="text-light" title="Desconectar">
            <i class="fa fa-sign-out-alt"></i> Desconectar
        </a>
    </nav>

    <div class="main">
        <section>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>
    </div>
{% endblock %}

